<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Error Page</title>

    <div th:replace="~{fragments/fragments :: styles}"></div>
  </head>
  <body>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <div class="container">
      <main>
        <div className="card courseCards h-100">
          <div
            className="card-body d-flex flex-column justify-content-center align-items-center text-success"
          >
            <h1 className="fw-bold">500</h1>
            <h2 className="fw-bold">Internal Server Error</h2>

            <div class="mt-2">[[${error}]]</div>
          </div>
        </div>
      </main>
    </div>

    <div th:replace="~{fragments/fragments :: scripts}"></div>
  </body>
</html>
