<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>HomePage</title>

    <div th:replace="~{fragments/fragments :: styles}"></div>
  </head>
  <body>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <div class="container">
      <main>
        <div class="row g-5">
          <div class="col-7">
            <div class="card homeUpperCards" th:object="${user}">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-3 homeTitle">
                  <h3 class="card-title fw-bold">[[*{name}]] [[*{surname}]]</h3>
                  <div>
                    <a
                      th:href="@{/user/{id}(id = ${#authentication.principal.id})}"
                      class="btn-sm btn btn-outline-success"
                    >
                      <i class="fa-solid fa-angles-right"></i>
                    </a>
                  </div>
                </div>

                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class="card-subtitle text-secondary"
                      >Numero di matricola</span
                    >
                    <div class="fw-semibold ms-2">- [[*{username}]]</div>
                  </li>
                  <li class="list-group-item">
                    <span class="card-subtitle text-secondary"
                      >Corso di Laurea</span
                    >
                    <div class="fw-semibold ms-2">- [[*{degreeCourse}]]</div>
                  </li>
                  <li class="list-group-item">
                    <span class="card-subtitle text-secondary">Totale CFU</span>
                    <div class="fw-semibold ms-2" th:if="${totalCfu == 0}">
                      - [[${user.totalCfu}]]
                    </div>
                    <div class="fw-semibold ms-2" th:unless="${totalCfu == 0}">
                      - [[${totalCfu}]] / [[${user.totalCfu}]]
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-5">
            <div class="card homeUpperCards">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-3 homeTitle">
                  <h3 class="fw-semibold card-title">Prossimi esami</h3>
                  <div>
                    <a
                      th:href="@{/exams}"
                      class="btn-sm btn btn-outline-success"
                    >
                      <i class="fa-solid fa-angles-right"></i>
                    </a>
                  </div>
                </div>

                <div class="upperCardsExam" th:if="${examsToDo.size() != 0}">
                  <ul class="list-group list-group-flush">
                    <li
                      th:each="exam : ${examsToDo}"
                      th:object="${exam}"
                      class="list-group-item list-group-item-action"
                    >
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <a
                          th:href="@{/courses/{id}(id = *{course.id})}"
                          class="w-100"
                        >
                          <div class="fw-semibold">
                            <i class="fa-solid fa-angle-right"></i>
                            [[*{course.name}]]
                          </div>
                          <div
                            class="text-secondary ms-3"
                            th:text="${#temporals.format(exam.date, 'dd-MM-yyyy  HH:mm')}"
                          ></div>

                          <div class="text-secondary ms-3">[[*{location}]]</div>
                        </a>

                        <a
                          class="btn btn-warning badge"
                          th:unless="${exam.isCancelled}"
                          th:href="@{/exams/{id}/grade(id = *{id})}"
                          ><i class="fa-solid fa-plus"></i> Voto</a
                        >
                      </div>
                    </li>
                  </ul>
                </div>

                <div th:unless="${examsToDo.size() != 0}">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item card-subtitle text-body-secondary"
                    >
                      Nessun appello registrato
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-5">
            <div class="card homeLowerCards">
              <div class="card-body">
                <div class="d-flex justify-content-between homeTitle mb-3">
                  <h3 class="fw-semibold card-title">Cerca corso</h3>
                  <div>
                    <a
                      th:href="@{/courses}"
                      class="btn-sm btn btn-outline-success"
                    >
                      <i class="fa-solid fa-angles-right"></i>
                    </a>
                  </div>
                </div>

                <form th:action="@{/courses}" method="GET">
                  <div class="input-group my-5">
                    <label></label>
                    <input
                      type="text"
                      th:value="${name}"
                      name="name"
                      placeholder="Cerca per nome"
                      class="form-control"
                    />
                  </div>

                  <div class="input-group my-5">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      th:value="${year}"
                      name="year"
                    >
                      <option selected th:value="0">Anno accademico</option>
                      <option
                        th:each="year : ${coursesYears}"
                        th:value="${year}"
                      >
                        [[${year}]]
                      </option>
                    </select>
                  </div>

                  <div class="my-5">
                    <button type="submit" class="btn btn-success w-100">
                      Cerca corso
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-7">
            <div class="card homeLowerCards">
              <div class="card-body">
                <div class="d-flex justify-content-between homeTitle mb-3">
                  <h3 class="fw-semibold card-title">Percorso studente</h3>
                  <div>
                    <a
                      th:href="@{/grades}"
                      class="btn-sm btn btn-outline-success"
                    >
                      <i class="fa-solid fa-angles-right"></i>
                    </a>
                  </div>
                </div>

                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <h6 class="m-0 fw-semibold">Media ponderata</h6>
                    <span class="fs-5 m-0"> [[${weightedAvg}]] </span>
                  </li>

                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    <h6 class="m-0 fw-semibold">Esami svolti</h6>
                    <span class="fs-5 m-0">[[${examsPassed.size()}]]</span>
                  </li>
                </ul>

                <div
                  class="lowerCardsExam py-2"
                  th:if="${examsPassed.size() != 0}"
                >
                  <ul class="list-group list-group-flush">
                    <li
                      th:each="exam : ${examsPassed}"
                      th:object="${exam}"
                      class="list-group-item list-group-item-action"
                    >
                      <a
                        class="d-flex justify-content-between align-items-center"
                        th:href="@{/courses/{id}(id = *{course.id})}"
                      >
                        <div>
                          <div class="fw-semibold">
                            <i class="fa-solid fa-angle-right me-2"></i>
                            [[*{course.name}]]
                          </div>

                          <div
                            class="text-secondary ms-3"
                            th:text="${#temporals.format(exam.date, 'dd-MM-yyyy  HH:mm')}"
                          ></div>

                          <div class="text-secondary ms-3">
                            [[*{course.cfu}]] CFU
                          </div>
                        </div>

                        <div
                          class="text-bg-success border-success px-3 py-1 rounded"
                        >
                          [[*{grade}]]
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>

                <div th:unless="${examsPassed.size() != 0}">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item text-secondary"
                    >
                      Nessun appello svolto
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <div th:replace="~{fragments/fragments :: scripts}"></div>
  </body>
</html>
