<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Exams Index</title>

    <div th:replace="~{fragments/fragments :: styles}"></div>
  </head>
  <body>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <div class="container">
      <main>
        <div
          class="d-flex justify-content-between align-items-center mt-5 mb-3"
        >
          <div>
            <h1 class="fw-bold">I MIEI APPELLI</h1>
          </div>
        </div>

        <hr />

        <!-- Appelli Registrati -->
        <div class="mb-5" th:if="${exams.size() != 0}">
          <div>
            <h5 class="fw-bold">Prossimi appelli</h5>
          </div>

          <ul class="list-group list-group-flush">
            <li
              th:each="exam : ${exams}"
              th:object="${exam}"
              th:if="${!exam.isCancelled} and ${exam.grade == null}"
              class="list-group-item list-group-item-action"
            >
              <a th:href="@{/exams/{id}(id = *{id})}">
                <div class="row">
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Data</div>
                    <div
                      th:text="${#temporals.format(exam.date, 'yyyy-MM-dd | HH:mm')}"
                    ></div>
                  </div>
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Luogo</div>
                    <div>[[*{location}]]</div>
                  </div>
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Corso</div>
                    <div>[[*{course.name}]]</div>
                  </div>
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Esito</div>
                    <a
                      th:href="@{/exams/{id}/grade(id = *{id})}"
                      class="badge bg-warning"
                      >Registra voto</a
                    >
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <hr />

        <!-- Appelli con Voto -->
        <div class="mb-5" th:if="${exams.size() != 0}">
          <div>
            <h5 class="fw-bold">Appelli con voto</h5>
          </div>

          <ul class="list-group list-group-flush">
            <li
              th:each="exam : ${exams}"
              th:object="${exam}"
              th:if="${!exam.isCancelled} and ${exam.grade != null}"
              class="list-group-item list-group-item-action"
            >
              <a th:href="@{/exams/{id}(id = *{id})}">
                <div class="row">
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Data</div>
                    <div
                      th:text="${#temporals.format(exam.date, 'yyyy-MM-dd | HH:mm')}"
                    ></div>
                  </div>
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Luogo</div>
                    <div>[[*{location}]]</div>
                  </div>
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Corso</div>
                    <div>[[*{course.name}]]</div>
                  </div>
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Esito</div>
                    <div class="badge bg-success">[[*{grade}]]</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <hr />

        <!-- Appelli Annullati -->
        <div class="mb-5" th:if="${exams.size() != 0}">
          <div>
            <h5 class="fw-bold">Appelli annullati</h5>
          </div>

          <ul class="list-group list-group-flush">
            <li
              th:each="exam : ${exams}"
              th:object="${exam}"
              th:if="${exam.isCancelled}"
              class="list-group-item list-group-item-action"
            >
              <a th:href="@{/exams/{id}(id = *{id})}">
                <div class="row">
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Data</div>
                    <div
                      th:text="${#temporals.format(exam.date, 'yyyy-MM-dd | HH:mm')}"
                    ></div>
                  </div>
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Luogo</div>
                    <div>[[*{location}]]</div>
                  </div>
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Corso</div>
                    <div>[[*{course.name}]]</div>
                  </div>
                  <div
                    class="col-12 d-flex align-items-center justify-content-between"
                  >
                    <div class="fw-semibold">Esito</div>
                    <div class="badge bg-danger">Annullato</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div th:unless="${exams.size() != 0}">
          <p>Non ci sono esami registrati</p>
        </div>
      </main>
    </div>

    <div th:replace="~{fragments/fragments :: scripts}"></div>
  </body>
</html>
