<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Exams Index</title>

    <div th:replace="~{fragments/fragments :: styles}"></div>
  </head>
  <body>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <div class="container">
      <main>
        <div class="card examsCard">
          <div class="card-body p-4">
            <div
              class="d-flex justify-content-between align-items-center pageTitle mb-4"
            >
              <div>
                <h1 class="fw-bold">APPELLI</h1>
              </div>
            </div>

            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    <h5 class="fw-bold">Prossimi appelli</h5>
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <div
                      th:replace="~{fragments/fragments :: examsList(${examsToDo})}"
                    ></div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    <h5 class="fw-bold">Appelli con voto</h5>
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <div
                      th:replace="~{fragments/fragments :: examsList(${examsGraded})}"
                    ></div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    <h5 class="fw-bold">Appelli annullati</h5>
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <div
                      th:replace="~{fragments/fragments :: examsList(${examsCancelled})}"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <div th:replace="~{fragments/fragments :: scripts}"></div>
  </body>
</html>
