<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Grades Index</title>

    <div th:replace="~{fragments/fragments :: styles}"></div>
  </head>
  <body>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <div class="container mb-5">
      <main>
        <div class="mt-5 d-flex justify-content-between align-items-center">
          <h1 class="fw-bold">VOTI</h1>
        </div>

        <hr />

        <div class="d-flex justify-content-between">
          <div class="d-flex gap-3">
            <div>
              Media Aritmetica: <span class="h5"> [[${arithmeticAvg}]]</span>
            </div>

            <div>
              Media Ponderata: <span class="h5"> [[${weightedAvg}]]</span>
            </div>
          </div>

          <div th:if="${totalCfu}">
            <h5>CFU [[${totalCfu}]] / [[${user.totalCfu}]]</h5>
          </div>
          <div th:unless="${totalCfu}">
            <h5>CFU 0 / [[${user.totalCfu}]]</h5>
          </div>
        </div>

        <div>
          <div class="my-3" th:if="${grades.size() != 0}">
            <div class="list-group list-group-flush">
              <a
                th:each="grade : ${grades}"
                th:object="${grade}"
                th:href="@{/courses/{id}(id = *{exam.course.id})}"
                class="list-group-item d-flex align-items-center justify-content-between py-3 list-group-item-action"
              >
                <div>
                  <div class="fw-bold h5">
                    <i class="fa-solid fa-angle-right"></i>
                    [[*{exam.course.name}]]
                  </div>
                  <span class="ms-3">[[*{exam.course.cfu}]] CFU</span>
                </div>

                <div>
                  <i class="fa-solid">[[*{value}]]</i>
                </div>
              </a>
            </div>
          </div>

          <div th:unless="${grades.size() != 0}" class="m-3">
            <p>Nessun voto registrato</p>
          </div>
        </div>
      </main>
    </div>

    <div th:replace="~{fragments/fragments :: scripts}"></div>
  </body>
</html>
