<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User Show</title>

    <div th:replace="~{fragments/fragments :: styles}"></div>
  </head>
  <body>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <div class="container">
      <main th:object="${user}">
        <div class="d-flex justify-content-center my-5">
          <div class="card courseCards h-100">
            <div class="card-body p-5">
              <div
                class="mb-4 d-flex justify-content-between align-items-center pageTitle"
              >
                <h1 class="fw-bold">PROFILO</h1>
                <div class="d-flex">
                  <a
                    class="btn btn-sm btn-outline-success"
                    th:href="@{/user/edit/{id}(id = *{id})}"
                    ><i class="fa-solid fa-pen px-1"></i> Modifica</a
                  >
                </div>
              </div>

              <div class="row row-cols-1 row-cols-md-2 g-4 p-2 mb-4">
                <div class="col">
                  <div class="card-subtitle text-body-secondary">Nome</div>
                  <span class="ps-3 fw-semibold">[[*{name}]]</span>
                </div>
                <div class="col">
                  <div class="card-subtitle text-body-secondary">Cognome</div>
                  <span class="ps-3 fw-semibold">[[*{surname}]]</span>
                </div>
                <div class="col">
                  <div class="card-subtitle text-body-secondary">
                    Numero di matricola
                  </div>
                  <span class="ps-3 fw-semibold">[[*{username}]]</span>
                </div>
                <div class="col">
                  <div class="card-subtitle text-body-secondary">Email</div>
                  <span class="ps-3 fw-semibold">[[*{email}]]</span>
                </div>
                <div class="col">
                  <div class="card-subtitle text-body-secondary">
                    Corso di Laurea
                  </div>
                  <span class="ps-3 fw-semibold">[[*{degreeCourse}]]</span>
                </div>
                <div class="col">
                  <div class="card-subtitle text-body-secondary">
                    Cfu totali
                  </div>
                  <span class="ps-3 fw-semibold">[[*{totalCfu}]]</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div></div>
      </main>
    </div>

    <div th:replace="~{fragments/fragments :: scripts}"></div>
  </body>
</html>
