<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User Show</title>

    <div th:replace="~{fragments/fragments :: styles}"></div>
  </head>
  <body>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <div class="container">
      <main th:object="${user}">
        <div class="mt-5 d-flex justify-content-between align-items-center">
          <h1 class="fw-bold">PROFILO</h1>
          <div class="d-flex gap-2">
            <a
              class="btn btn-sm btn-dark"
              th:href="@{/user/edit/{id}(id = *{id})}"
              ><i class="fa-solid fa-pen px-1"></i
            > Modifica</a>
          </div>
        </div>

        <hr />

        <div>
          <ul>
            <li>[[*{name}]]</li>
            <li>[[*{surname}]]</li>
            <li>[[*{username}]]</li>
            <li>[[*{email}]]</li>
            <li>[[*{degreeCourse}]]</li>
            <li>[[*{totalCfu}]]</li>
            <li>[[*{courses}]]</li>
          </ul>
        </div>
      </main>
    </div>

    <div th:replace="~{fragments/fragments :: scripts}"></div>
  </body>
</html>
