a {
  text-decoration: none;
  color: black;
}


/* # Courses Index */

.courseCards {
  height: 28rem;
}

.courseCards:has(.cardsTitle:hover) {
    transform: scale(1.04);
}

.courseCardsExam {
  max-height: 11rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.courseCardsExam::-webkit-scrollbar {
  display: thin;
}

.examLinks:hover {
    text-decoration: underline;
}

.addVote:hover {
    transform: scale(1.1);
}


/* # Exams Index */

.examLists {
  max-height: 30rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.examLists::-webkit-scrollbar {
  display: thin;
}